body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #1f272f;

}

.bg {
    position: relative;
    height: 100vh;
    background-image: url('img/bgf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -21px;
}

.header {
    color: rgb(255, 255, 255);
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 400px;
    font-size: 16px;

}

.header h1 {
    margin-left: 50px;
    padding-top: 13px;
}

.hero {
    top: 20px;
    left: 20px;
    color: white;
    position: absolute;
    font-style: bold;
    font-size: 76px;
    padding-top: 20%;
    padding-left: 30px;

}

.hero span {
    font-weight: bold;
    color: aqua;
}

.hero p {
    font-size: 44px;
    margin-top: 5px;
}

.navbar {
    position: absolute;

    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Added to wrap the navbar items */
   
}

.navbar li {
    margin-right: 40px;
}

.navbar li a {
    color: #ffffff;
    text-decoration: none;
    justify-content: space-between;
}

.navbar li a:hover {
    color: rgb(145, 172, 255);
}

.contact-btn button {
    text-decoration: none;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 20px;
    right: 20%;
    background-color: #eb830e;
    border: none;
    border-radius: 10px;
    color: #ffffff;
}

.contact-btn button:hover {
    background-color: royalblue;
}

.mid {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid h2 {
    font-size: 36px;
    font-weight: bold;
    margin-right: 100px;
    color: #eb830e;
}

.mid h3:not(:last-child) {
    margin-right: 100px;
    font-size: 24px;
    display: flex;
    align-items: center;
    color: #eb830e;
}

.mid h3 {
    font-size: 24px;
    color: #eb830e;
}

.about {
    display: inline-block;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
}

.about h2 {
    color: #ffffff;
    font-size: 34px;
    margin-left: 270px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item img {
    width: 200px;
    /* Adjust the size as needed */
    height: auto;
    display: inline-block;
}

.item h4 {
    margin-left: 487px;
    margin-top: -112px;
    display: flex;
    position: relative;
    font-size: 28px;
    color: #ffffff;
}

#tit1 {
    position: relative;
    margin-bottom: auto;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: -120px;
}

#tit2 {
    position: relative;
    margin-bottom: auto;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: -120px;
    margin-left: 405px;
}

#tit3 {
    position: relative;
    margin-bottom: auto;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: -120px;
    margin-left: 356px;
}

#tit4 {
    position: relative;
    margin-bottom: auto;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: -120px;
    margin-left: 390px;
}

.underline {
    width: 50%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 20px;
    margin-left: 650px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.workout {
    vertical-align: middle;
    max-width: 340px;
    margin-left: 20%;
}

.text1 {
    color: #ffffff;
    font-size: 20px;
    margin-right: 20%;
}
.text1 p{
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
}
.text1 button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #eb830e;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
}
.text1 button:hover{
    background-color: royalblue;
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.run{
    vertical-align: middle;
    max-width: 340px;
    margin-left: 20%;

}
.text2{
    color: #ffffff;
    font-size: 20px;
    margin-right: 7%;
}
.text2 p{
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
}
.text2 button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #eb830e;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
}
.text2 button:hover{
    background-color: royalblue;
}
.container3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.quote{
    vertical-align: middle;
    max-width: 340px;
    margin-left: 20%;

}
.text3{
    color: #ffffff;
    font-size: 20px;
    margin-right: 20%;
}
.text3 p{
    font-size: 16px;
    font-weight: lighter;
}

.contain{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 -20px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/* Mobile styles */
@media screen and (max-width: 500px) {
    .hero {
        font-size: 36px;
        padding-top: 15%;
        padding-left: 20px;
      }
      
      .navbar {
        top: 80px;
      }
      
      .navbar li {
        margin-right: 20px;
      }
      
      .contact-btn button {
        font-size: 16px;
        right: 10px;
      }
    }
    
    /* Tablet styles */
    @media screen and (max-width: 1024px) {
      .hero {
        font-size: 22px;
        padding-top: 10%;
        padding-left: 20px;
      }
      
      .navbar {
        top: 20px;
      }
      
      .navbar li {
        margin-right: 10px;
      }
      
      .contact-btn button {
        font-size: 12px;
        right: 5px;
      }
    }
    
    /* Adjustments for smaller screens */
    @media screen and (max-width: 500px) {
      .hero {
        font-size: 16px;
        padding-top: 8%;
        padding-left: 10px;
      }
      
      .navbar {
        top: 30px;
      }
      
      .navbar li {
        margin-right: 15px;
      }
      
      .contact-btn button {
        font-size: 14px;
        right: 10px;
      }
    
    .mid h2 {
      font-size: 24px; /* Adjust the font size for smaller screens */
      margin-right: 0; /* Remove the margin for smaller screens */
    }
    
    .mid h3 {
      font-size: 16px; /* Adjust the font size for smaller screens */
      margin-right: 0; /* Remove the margin for smaller screens */
    }
    
    .container {
        margin-top: 40px;
        width: 5%;
        height: auto;
      }
      
      .workout,
      .run,
      .quote {
        margin-left: 5%;
      }
      
      .text1,
      .text2,
      .text3 {
        margin-right: 5%;
      }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
  }
